// =================================================================================================================
//                                                  SCSS globale
// =================================================================================================================

@import "header";
@import "footer";
@import "index";
@import "page";
@import "utils";
@import "loader";

:root {
  --font-principal: "Roboto", Arial, Helvetica, sans-serif;
  --font-secondaire: "Shrikhand", Arial, Helvetica, sans-serif;
  --background-secondaire: #eaeaea;
  --primary-color: rgba(147, 86, 220, 1);
  --button-color: linear-gradient(
    to bottom,
    rgba(255, 121, 218, 1),
    rgba(147, 86, 220, 1)
  );
  --button-color-hover: linear-gradient(
    to bottom,
    rgba(255, 121, 217, 0.85),
    rgba(147, 86, 220, 0.85)
  );
}

body {
  font-family: var(--font-principal);
}
