// =================================================================================================================
//                                                  SCSS globale
// =================================================================================================================

@import "header";
@import "footer";
@import "index";

:root {
  --font-principal: "Roboto", Arial, Helvetica, sans-serif;
  --background-secondaire: #eaeaea;
  --button-color: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
}

body {
  font-family: var(--font-principal);
}

