.siteHeader {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.siteHeader_logo {
  width: 162px;
  height: 30px;
}
.siteHeader_svg {
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 24px;
}

@media (min-width: 768px) {
  .siteHeader {
    height: 96px;
  }
  .siteHeader_logo {
    width: 200px;
    height: 34px;
  }
  .siteHeader_svg {
    top: 40px;
  }
}
.siteFooter {
  background-color: rgb(53, 53, 53);
  padding: 30px;
}
.siteFooter h2 {
  font-family: var(--font-secondaire);
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  color: rgb(255, 255, 255);
}
.siteFooter_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.siteFooter_container_link {
  display: flex;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.siteFooter_container_link i {
  width: 20px;
}
.siteFooter_container_partners, .siteFooter_container_legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .siteFooter {
    display: flex;
    height: 54px;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-left: clamp(1.875rem, -10.512rem + 25.806vw, 4.375rem);
  }
  .siteFooter h2 {
    margin-right: clamp(0rem, -5.625rem + 11.719vw, 1.875rem);
  }
  .siteFooter_container {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: clamp(1.25rem, -4.375rem + 11.719vw, 3.125rem);
  }
  .siteFooter_container_partners, .siteFooter_container_legal {
    flex-direction: row;
    padding-left: clamp(0rem, -3.75rem + 7.813vw, 1.25rem);
    padding-right: clamp(0rem, -3.75rem + 7.813vw, 1.25rem);
  }
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  gap: 15px;
  background-color: var(--background-secondaire);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.place i,
.place span {
  color: rgb(53, 53, 53);
}
.place i {
  font-size: 16px;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding-bottom: 40px;
}
.reservation h2 {
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
  margin: 0px 20px;
}
.reservation p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.reservation_button {
  width: 218px;
  height: 50px;
  margin: 20px auto;
  padding: 0;
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.functionnement {
  padding-top: 40px;
}
.functionnement_container {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 80px;
  gap: 20px;
}
.functionnement_container_button {
  width: 323px;
  height: 73px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 40px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 18px;
}
.functionnement_container_button_number {
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 25px;
  left: -12px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--primary-color);
}
.functionnement_container_button .fa-store,
.functionnement_container_button .fa-mobile-screen-button,
.functionnement_container_button .fa-list-ul {
  color: rgb(126, 126, 126);
}
.functionnement_container h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0px;
}

.cardsSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondaire);
}
.cardsSection .cardsContainerGlobal {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.cardsSection .cardsContainerGlobal h2 {
  padding-top: 40px;
  text-align: start;
  font-weight: 700;
}
.cardsSection .cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 20px;
}
.cardsSection .cardsContainer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.cardsSection .cardsContainer a .cards {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
}
.cardsSection .cardsContainer a .cards_img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  aspect-ratio: 3.86/2;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
}
.cardsSection .cardsContainer a .cards .correction {
  -o-object-position: center calc(100% + 98px);
     object-position: center calc(100% + 98px);
}
.cardsSection .cardsContainer a .cards_new {
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(153, 226, 208);
  border-radius: 2px;
}
.cardsSection .cardsContainer a .cards_new span {
  color: rgb(0, 135, 102);
}
.cardsSection .cardsContainer a .cards_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.cardsSection .cardsContainer a .cards_content .textCard {
  display: flex;
  flex-direction: column;
}
.cardsSection .cardsContainer a .cards_content .textCard h3 {
  font-size: 18px;
  margin: 0px;
  padding-bottom: 5px;
}
.cardsSection .cardsContainer a .cards_content .textCard span {
  font-size: 17px;
  font-weight: 300;
}
.cardsSection .cardsContainer a .cards_content .iconeHeart {
  background-color: transparent;
  border: none;
  z-index: 2;
  position: relative;
  width: 22px;
  height: 21px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.cardsSection .cardsContainer a .cards_content .iconeHeart img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}
.cardsSection .cardsContainer a .cards_content .iconeHeart .visible {
  opacity: 1;
}
.cardsSection .cardsContainer a .cards_content .iconeHeart .hidden {
  opacity: 0;
}

@media (min-width: 768px) {
  .place {
    box-shadow: none;
    margin-bottom: 0px;
  }
  .reservation {
    padding: 30px;
    gap: 14px;
  }
  .reservation_button {
    margin: 0px auto;
    cursor: pointer;
  }
  .reservation_button:hover {
    background: var(--button-color-hover);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
  }
  .reservation h2 {
    font-size: 40px;
    padding: 0;
  }
  .functionnement {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .functionnement_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin-left: clamp(0.313rem, -42.888rem + 90vw, 3.125rem);
    margin-right: clamp(0.313rem, -42.888rem + 90vw, 3.125rem);
    padding: 20px 0;
    gap: 0px;
  }
  .functionnement_container_button {
    width: 30%;
    max-width: 323px;
    margin: 0;
    margin-left: 12px;
    padding-left: clamp(1.25rem, -0.179rem + 2.976vw, 2.5rem);
    max-width: 323px;
    gap: clamp(0.625rem, 0.054rem + 1.19vw, 1.125rem);
    cursor: pointer;
  }
  .functionnement_container_button:hover .fa-store,
  .functionnement_container_button:hover .fa-mobile-screen-button,
  .functionnement_container_button:hover .fa-list-ul {
    color: var(--primary-color);
  }
  .functionnement h2 {
    padding-bottom: 25px;
  }
  .cardsSection .cardsContainerGlobal {
    width: 100%;
    max-width: 1080px;
    margin-left: clamp(0.313rem, -42.888rem + 90vw, 3.125rem);
    margin-right: clamp(0.313rem, -42.888rem + 90vw, 3.125rem);
  }
  .cardsSection .cardsContainerGlobal h2 {
    padding-top: 10px;
  }
  .cardsSection .cardsContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: clamp(0.625rem, -2.232rem + 5.952vw, 3.125rem);
  }
  .cardsSection .cardsContainer a {
    width: calc(50% - 20px);
    max-width: 490px;
  }
  .cardsSection .cardsContainer a .cards {
    height: 251px;
  }
  .cardsSection .cardsContainer a .cards_img {
    aspect-ratio: 5.5/2;
    -o-object-position: center calc(100% + 49px);
       object-position: center calc(100% + 49px);
  }
  .cardsSection .cardsContainer a .cards .correction {
    -o-object-position: center calc(100% + 190px);
       object-position: center calc(100% + 190px);
  }
  .cardsSection .cardsContainer a .cards_content .iconeHeart:hover .visible {
    opacity: 0;
  }
  .cardsSection .cardsContainer a .cards_content .iconeHeart:hover .hidden {
    opacity: 1;
  }
}
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes jump {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(2);
  }
}
.main-container-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.restaurantImg {
  width: 100%;
}
.restaurantImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 275px;
}

.presentationRestaurant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: var(--background-secondaire);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-bottom: -60px;
  transform: translateY(-60px);
}
.presentationRestaurant h1 {
  font-family: var(--font-secondaire);
  font-size: 28px;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 17px;
  margin: 0;
}
.presentationRestaurant .restaurantIconeHeart {
  background-color: transparent;
  border: none;
  z-index: 2;
  position: relative;
  width: 22px;
  height: 21px;
  padding-right: 40px;
}
.presentationRestaurant .restaurantIconeHeart img {
  position: absolute;
  top: -6px;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}
.presentationRestaurant .restaurantIconeHeart .visible {
  opacity: 1;
}
.presentationRestaurant .restaurantIconeHeart .hidden {
  opacity: 0;
}

.restaurantMenu {
  width: 100%;
  background-color: var(--background-secondaire);
  display: flex;
  flex-direction: column;
}
.restaurantMenu_h2 {
  width: 100%;
  padding-top: 20px;
  padding-left: 17px;
  margin-bottom: 12px;
}
.restaurantMenu_h2 h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurantMenu_h2 .custom-line {
  width: 40px;
  height: 3px;
  background-color: rgb(153, 226, 208);
}
.restaurantMenu .dish {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 12px 18px 12px 10px;
  margin: 0 17px 14px 17px;
  animation: menu-list 1s ease both;
  overflow: hidden;
}
.restaurantMenu .dish:nth-child(1) {
  animation-delay: 0.3s;
}
.restaurantMenu .dish:nth-child(2) {
  animation-delay: 0.6s;
}
.restaurantMenu .dish:nth-child(3) {
  animation-delay: 0.9s;
}
.restaurantMenu .dish:nth-child(4) {
  animation-delay: 1.2s;
}
.restaurantMenu .dish:nth-child(5) {
  animation-delay: 1.5s;
}
.restaurantMenu .dish:nth-child(6) {
  animation-delay: 1.8s;
}
.restaurantMenu .dish:nth-child(7) {
  animation-delay: 2.1s;
}
.restaurantMenu .dish:nth-child(8) {
  animation-delay: 2.4s;
}
.restaurantMenu .dish:nth-child(9) {
  animation-delay: 2.7s;
}
.restaurantMenu .dish:nth-child(10) {
  animation-delay: 3s;
}
.restaurantMenu .dish:nth-child(11) {
  animation-delay: 3.3s;
}
.restaurantMenu .dish:nth-child(12) {
  animation-delay: 3.6s;
}
.restaurantMenu .dish:nth-child(13) {
  animation-delay: 3.9s;
}
.restaurantMenu .dish_h3 {
  margin: 0 0 4px 0;
  font-size: 18px;
}
.restaurantMenu .dish_h3,
.restaurantMenu .dish .dishContent, .restaurantMenu .dish_p {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurantMenu .dish_p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.restaurantMenu .dish .price {
  font-weight: 700;
  font-size: 14px;
  transition: 0.2s ease-out;
  margin-left: 5px;
}
.restaurantMenu .dish .check {
  position: absolute;
  background-color: #99e2d0;
  color: #fff;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0;
  transform: translateX(60px);
  transition: 0.2s ease-out;
}
.restaurantMenu .dish .check i {
  font-size: 20px;
  color: white;
  transform: rotate(90deg);
  transition: 0.4s 0.2s ease-in-out;
}
.restaurantMenu .order_button {
  width: 218px;
  height: 50px;
  margin: 20px auto 35px auto;
  padding: 0;
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .restaurantImg img {
    height: 383px;
  }
  .presentationRestaurant {
    justify-content: center;
    gap: 20px;
    max-width: 1055px;
    margin-bottom: -40px;
    transform: translateY(-40px);
  }
  .presentationRestaurant h1 {
    padding-top: 50px;
  }
  .presentationRestaurant .restaurantIconeHeart {
    padding-right: 0;
  }
  .presentationRestaurant .restaurantIconeHeart:hover .visible {
    opacity: 0;
  }
  .presentationRestaurant .restaurantIconeHeart:hover .hidden {
    opacity: 1;
  }
  .restaurantMenu {
    max-width: 1055px;
    align-items: center;
  }
  .restaurantMenu_h2,
  .restaurantMenu .dish {
    width: 100%;
    max-width: 634px;
  }
  .restaurantMenu_h2:hover,
  .restaurantMenu .dish:hover {
    cursor: pointer;
  }
  .restaurantMenu_h2:hover .price,
  .restaurantMenu .dish:hover .price {
    margin-right: 60px;
  }
  .restaurantMenu_h2:hover .check,
  .restaurantMenu .dish:hover .check {
    transform: translateX(0);
  }
  .restaurantMenu_h2:hover .check i,
  .restaurantMenu .dish:hover .check i {
    transform: rotate(0deg);
  }
  .restaurantMenu_h2 {
    transform: translateX(-19px);
  }
  .order_button:hover {
    background: var(--button-color-hover);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
  }
}
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes jump {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(2);
  }
}
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes jump {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(2);
  }
}
.loader {
  position: fixed;
  background-color: var(--background-secondaire);
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.2s 2s ease-out forwards;
}
.loader .spinner {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .spinner .dot1,
.loader .spinner .dot2,
.loader .spinner .dot3 {
  width: 15px;
  height: 15px;
  border: double;
  border-color: white;
  border-radius: 50%;
  margin: 10px;
}
.loader .spinner .dot1 {
  animation: jump 1.6s -0.32s linear infinite;
  background: var(--button-color);
}
.loader .spinner .dot2 {
  animation: jump 1.6s -0.16s linear infinite;
  background: var(--button-color);
}
.loader .spinner .dot3 {
  animation: jump 1.6s linear infinite;
  background: var(--button-color);
}

:root {
  --font-principal: "Roboto", Arial, Helvetica, sans-serif;
  --font-secondaire: "Shrikhand", Arial, Helvetica, sans-serif;
  --background-secondaire: #eaeaea;
  --primary-color: rgba(147, 86, 220, 1);
  --button-color: linear-gradient(
    to bottom,
    rgba(255, 121, 218, 1),
    rgba(147, 86, 220, 1)
  );
  --button-color-hover: linear-gradient(
    to bottom,
    rgba(255, 121, 217, 0.85),
    rgba(147, 86, 220, 0.85)
  );
}

body {
  font-family: var(--font-principal);
}/*# sourceMappingURL=style.css.map */