// =================================================================================================================
//                                                  SCSS Keyframes, Mixin, etc...
// =================================================================================================================

@keyframes slideIn {
  0% {
    transform: translateX(59px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(59px);
  }
}