// =================================================================================================================
//                                                  SCSS Keyframes, Mixin, etc...
// =================================================================================================================

@mixin list-delay {
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.3}s;
        }
    }
}

@keyframes menu-list {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}